body{
    margin: 0px;
}
#burgermenu{
    background-color:white;   
    box-shadow: 0px 0px 6px #000;
    padding: 20px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 22;
    box-sizing: border-box;
    display: none;
}
#image{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#cross{
    font-size: 22px;
    cursor: pointer;
}
.gap{ 
    margin-top: 30px;
}
.burgerbtn{
    border: 2px solid blue;
    padding: 9px 15px;
    border-radius: 10px;
    outline: none;
    display: block;
    background-color: transparent;
    width: 100%;
    font-size: 18px;
    margin-top: 30px;
    cursor: pointer;
}
header {
    text-align: center;
    font-size: 18px;
    background-color: white;
    box-shadow: 0px 0px 6px #000;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 70px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    box-sizing: border-box;
}
.topbar{
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 600;
    text-transform: uppercase;
    color: black;
    font-family: monospace;
    border: 2px solid blue;
    padding: 5px 27px;
    border-radius: 10px;
    outline: none;
}
.button{
    border: none;
    background-color: transparent;
    font-size: 18px;
    color: grey;
    margin-left: 50px;
    padding: 0px;
    cursor: pointer;
    outline: none;
}
#hamburger{
    font-size: 30px; 
    color: gray;
    display: none;
}
#icons{
    display: flex;
    flex-direction: row;
}
#headerRight{
    display: flex;
    justify-content: center;
    align-items: center;
}
#headerRight > div > i{
    font-size: 13px;
    cursor: pointer;
}
#secondSection{
    padding: 0px 70px;
    margin-top: 8rem;
    display: flex;
    box-sizing: border-box;
}
#secRight{
    width:60%;
}
#secRight>h1{
    font-size: 70px;
    margin-bottom: 0px;
}
#secRight>p{
    color:grey;
    font-size: 29px;
    margin-top: 25px;
    font-family: 'Poppins', sans-serif;
}
#mail{
    display: flex;
    border: 0.1px solid grey;
    width:80%;
    padding: 20px;
    border-radius: 13px;
    justify-content: space-between;
    box-sizing: border-box;
}
#mail>div{
    display: flex;
}
#mail>div>input{
    border: none;
    margin-left: 0px;
    font-size: 17px;
    outline: none;
    margin-left: 25px;
}
#mail>button{
    background-color: blue;
    border: none;
    color: white;
    padding: 13px 30px;
    font-size: 17px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}
#flag{
    display: flex;
    align-items: center;
    padding: 8px;
}
#flag>img{
    height: 22px;
}
#flag>p{
    font-size: 1rem;
    line-height: 1.5;
    margin-left: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 550;
    color: gray;
}
.logo{
    height: 55px;
    margin-top: 30px;      
}
#secLeft>img{
    height: 700px;
}
.section{
    padding: 0px 70px;
    margin-top: 3rem;
    margin-bottom: 7rem;
}
#heading{
    text-align: center;
    letter-spacing: 4px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 17px;
}
#company{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}
#firstCom{
    height:25px;
}
#secCom{
    height: 70px;
}
#thirdCom{
    height: 50px;
}
#fourth{
    display: flex;
    box-sizing: border-box;
}
#fourthLeft{
    width: 60%;
    box-sizing: border-box;
}
#fourthLeft>h2{
    color: #4643ee;
    font-size: 1.5rem;
    line-height: 1.33;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
#fourthLeft>h1{
    font-size: 50px;
    letter-spacing: 0px;
    margin-top: 0px;
}
#fourthLeft>p{
    color:grey;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-top: 0px;
}
#fourthRight{
   width: 40%;
   margin-left: 20px; 
}
#fourthRight>img{
    height:320px;
}
#signup{
    font-size: 50px;
    letter-spacing: 0px;
    margin: 0px;
    text-align: center;
}
#desc{
    color:grey;
    text-align: center;
    font-size: 25px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Poppins', sans-serif;
}
#wrapper{
    display: flex;
    justify-content: space-between;
}
.maindiv{
    width: calc(33.33% - 32px);
    border:0px solid grey;
    border-radius: 20px;
    margin-top: 130px;
    margin-left: 16px;
    margin-right: 16px;
    box-shadow: 0px 4px 15px grey;
}
.card{
    height: 190px;
    position: relative;
    bottom: 2rem;
}
.firstcard{
    background-color: honeydew;
    height: 330px;
    display: flex;
    justify-content: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.firstcard>div{
    position: relative;
    top:-2rem;
}
.firstcard>div>h2{
    color: grey;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    letter-spacing: 5px;
    text-align: center;
    margin:0px;
} 
.firstcard>div>h1{
    color: #4643ee;
    margin: 0px;
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-align: center;
}
.firstcard>div>p>span{
    background-color: #00a86b;
    font-size: 17px;
    padding:5px 7px;
    color: white;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    margin-right: 10px;
    font-weight: bold;
}
.firstcard>div>p{
    color: grey;
    font-size: 17px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.secondcard{
    padding:10px 35px;
}
.spots{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.spots>h2{
    font-size: 19px;
    font-family: 'Poppins', sans-serif;
    color: #00a86b;
    font-weight: bold;
}
.spots>h2>span{
    font-size: 12px;
    color: grey;
    font-weight: 1000;
}
.spots>h2>span>span{
    font-weight: 550;
    letter-spacing: 1px;
}
.spots>p{
    font-size: 13px;
    color: grey;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
.spots>p>span{
    font-weight: 550;
    letter-spacing: 1px;
}
.bar{
    height: .625rem;
    width: 100%;
    background-color:#D3D3D3;
    border-radius: .3125rem;
    display: flex;
}
.bar>div{
    width: 86.6%;
    background-color: #00a86b;
    border-radius: .3125rem;
}
.secondcard>button{
    width: 100%;
    margin: 20px 0px;
    padding: 15px 10px;
    border: none;
    background-color: #0f52ba;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    outline: none;
}
.include{
    color: #D3D3D3;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin:0px;
    letter-spacing: 5px;
}
.points{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
.points>i{
    margin-right: 10px;
    color: #00a86b;
    margin-top: 13px;
    font-size: 20px;
}
.points>p{
    margin-bottom: 2px;
}
.para{
    color: grey;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    margin-top: 20px;
}
.para>span{
    font-weight: bold;
}
#bottomfirst>h2{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    text-decoration: line-through;
    margin-bottom: 8px;
}
#bottomfirst>h1{
    color: #00a86b;
    margin: 0px;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
#bottomfirst>p{
    margin-top: 0px;
    color: #00a86b;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.precard{
    background-color: #f7f7fb;
}
.precard>div>h1{
    color: black;
}
.precard>div>p>span{
    background-color: gray;
}
#bottomsecond>h2{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    text-decoration: line-through;
    margin-bottom: 8px;
    color: gray;
    font-weight: 400;
}
#bottomsecond>h1{
    font-size: 25px;
    font-weight: 400;
    margin-top:0px;
    color: gray;
    margin-bottom: 38px;
    font-family: 'Poppins', sans-serif;
}
#bottomthird>h2{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 8px;
    color: gray;
    font-weight: 400;
}
#bottomthird>h1{
    font-size: 25px;
    font-weight: 400;
    margin-top:0px;
    color: gray;
    margin-bottom: 38px;
    font-family: 'Poppins', sans-serif;
}
#cardbtn{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    display: none;
}
.btn{
    border: none;
    background-color: transparent;
    font-size: 17px;
    color: grey;
    margin: 0px;
    padding: 0px 5px;
    cursor: pointer;
    outline: none;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px;
}
.deco{
    border-bottom: 2px solid blue;
    color: blue;
}
#tagicon{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #FF6CBF;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 23;
    bottom: 2rem;
    right: 2rem;
}
#tagicon>i{
    font-size: 30px;
    color: white;
}
@media(max-width:600px){
    #icons{
        display: none;
    }
    #sign{
        display: none;
    }
    #hamburger{
        display: block;
        cursor: pointer;
    }
    header{
        padding:0px 20px;
    }
    #secondSection{
        padding: 0px 20px;
        display: block;
        text-align: center;
    }
    #secRight{
        width: unset;
    }
    #secRight>h1{
        font-size: 40px;
    }
    #secRight>p{
        font-size: 19px;
    }
    #mail{
        width: unset;
        padding: 10px 9px;
    }
    #mail>button{
        padding: 9px 15px;
        font-size: 15px;
    }
    #flag{
        justify-content: center;
        margin-top: 15px;
    }
    #secLeft{
        margin-top: 20px;
    }
    #secLeft>img{
        height: 450px;
    }
    #company{
        display: block;
        text-align: center;
    }
    #secCom{
        margin-top: 30px;
    }
    #thirdCom{
        margin-top: 30px;
    }
    .section{
        padding: 0px 30px;
        margin-bottom: 5rem;
    }
    #fourth{
        flex-direction: column-reverse;
    }
    #fourthLeft{
        width: unset;
    }
    #fourthLeft>h1{
        font-size: 28px;
    }
    #fourthLeft>p{
        font-size: 17px;
    }
    #fourthRight{
        width: unset;
        margin-left: 0px;
        text-align: center;
    }
    #fourthRight>img{
        height: 220px;
    }
    #signup{
        font-size: 29px;
    }
    #desc{
        width: unset;
        font-size: 18px;
    }
    #cardbtn{
        display: flex;
    }
    #wrapper{
        display: block;
    }
    .maindiv{
        width: unset;
        margin-left: 0px;
        margin-right: 0px;
    }
    .card{
        height: 180px;
    }
    #cardone{
        display: block;
    }
    #cardtwo{
        display: none;
    }
    #cardthree{
        display: none;
    }
    
}